.pypirc
build/*
dist/*
__pycache__
.cache
.pytest_cache
pip-egg-info/*
metabgc.egg-info/*
metabgc/src/__pycache__/*
metabgc/test/AbcK/*
metabgc/test/OxyN_Toy_Build/
metabgc/test/OxyN_Toy_Build.zip
metabgc/test/.Rhistory
